body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 340px;
    background-color: rgb(242, 242, 242);
    color: #212529;
}

h1 {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #172B4D;
    font-size: 12px;
    padding: 15px;
    background-color: #ffffff;
}

form {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    padding: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.cta {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: auto;
    padding: 5px 10px 5px 10px;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.mt-10 {
    margin-top: 10px;
}

.path-white {
    fill: white;
}

.invalid-feedback {
    display: none;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

#popup-success{
    display: none;
    color: #0d192d;
    background-color: #28a7463a;
    border: 2px solid #28a745;
    padding: 15px;
    font-size: 14px;
    border-radius: 0.25rem;
}